@font-face {
  font-family: Exo-Medium;
  src: url("../fonts/Exo-Regular.ttf") format("ttf"); }
@font-face {
  font-family: 'SFPro', sans-serif;
  src: url("../fonts/SF-UI-Display-Regular.otf") format("otf"); }
.p-70 {
  padding: 70px 0; }
  @media (max-width: 425px) {
    .p-70 {
      padding: 30px 0; } }

body {
  font-family: 'Exo-Medium', sans-serif; }

form {
  font-family: 'SFPro', sans-serif; }

.title-login {
  font-size: 52px;
  font-weight: 600;
  color: #4A4A4A; }
  @media (max-width: 425px) {
    .title-login {
      font-size: 40px; } }

.size {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.75px;
  color: #fff; }
  @media (max-width: 320px) {
    .size {
      font-size: 14px; } }

h3.title {
  font-weight: bold;
  font-size: 100px;
  line-height: 1.5;
  color: #fff; }
  @media (max-width: 768px) {
    h3.title {
      font-size: 67px; } }
  @media (max-width: 425px) {
    h3.title {
      font-size: 40px; } }

button.more {
  font-family: 'SFPro', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: transparent;
  padding: 14px 25px;
  border-radius: 27px;
  border: 1px solid;
  cursor: pointer; }

.content {
  background: #34BC6E;
  padding: 80px 0;
  display: flex;
  flex-flow: row; }
  @media (max-width: 768px) {
    .content {
      flex-flow: column;
      padding: 30px 30px; } }
  @media (max-width: 425px) {
    .content {
      padding: 30px 15px; } }
  .content .widget-1 {
    display: flex;
    flex: 1 50%;
    justify-content: center;
    padding: 0 2rem; }
    @media (max-width: 768px) {
      .content .widget-1 {
        flex: 1 100%;
        margin-top: 10px;
        padding: 0; } }
    .content .widget-1 .image {
      object-fit: cover; }
      .content .widget-1 .image img {
        width: 100%; }
  .content .widget-2 {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem; }
    @media (max-width: 768px) {
      .content .widget-2 {
        flex: 1 100%;
        margin-top: 10px;
        order: 2;
        padding: 0; } }
    .content .widget-2 i.fa.fa-arrow-right {
      font-size: 13px;
      padding-left: 10px; }

.img {
  object-fit: cover; }
  .img img {
    width: 100%; }

h5.highlight {
  font-family: 'SFPro', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 5px 20px;
  background: #00884B;
  border-radius: 4px;
  display: table; }
  @media (max-width: 320px) {
    h5.highlight {
      font-size: 13px; } }

h3.main {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.4;
  color: #FFFFFF; }
  @media (max-width: 425px) {
    h3.main {
      font-size: 24px; } }

#cemetery {
  position: relative;
  padding-top: 175px;
  margin-bottom: -222px; }
  @media (max-width: 768px) {
    #cemetery {
      margin-bottom: -149px; } }
  #cemetery button.owl-prev {
    position: absolute;
    top: 50%;
    left: 0; }
  #cemetery button.owl-next {
    position: absolute;
    right: 0;
    top: 50%; }
  #cemetery span {
    font-size: 65px;
    color: #ffffff; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent; }

.owl-carousel .owl-item img {
  padding-left: 14px; }

.alert.alert-danger {
  padding: 5px 20px; }

/*# sourceMappingURL=common.css.map */
